@{
    ViewData["Title"] = "Movie List";
}
<h1>The Top Movies of 2018</h1>
<img style="height: 10vh; width: 10vh;" src="http://www.filmtraining.mb.ca/wp-content/uploads/2014/02/clap.png"/>
<p>Here we will list and discuss the top films of 2018. <br><br>2018 was quite a year for film; one of my favorites in 2018 was the psychologial and supernatural thriller "Hereditary". </p>
<h3>Hereditary</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/V6wWKNij_1M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Hereditary follows the story of a family dealing with the death of their estranged and mentally ill grandmother. Things begin to accelerate repidly as a tragedy strikes after the funeral and the family begins to mentally and physically unravel. Highly recommended.</p>

<h3>Crazy Rich Asians</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZQ-YX-5bAs0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>The charming story of a young, second generation immigrant seeking the love of her boyfriend's wealthy and judgmental family. Crazy Rich Asian is an often funny, often tear jerking dramedy. One of my top romantic comedy picks of 2018!</p>

<h3>Hellfest</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1EtA4wzlb2k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>From Lionsgate comes a horror flick about a music festival with a twist. Easy to get in. Hell to get out. Hellfest. </p>