@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to movieMvc </h3>
    <p>This application was created by <br><a style="text-decoration: none; color: black;"href="https://www.codypellom.com">Cody Pellom </a> and built using the ASP.NET Core.</p>
    <p>Click the menu to get started. There you will find featured films as well as a film library you can contribute to using CRUD</p>
    
        <li>Create</li>
        <li>Retrieve</li>
        <li>Update</li>
        <li>Delete</li>
    
</div>
